.clabel0 {
  text-align:center;
}

.clabel1 {
  text-align:center;
}

.clabel2 {
  text-align:center;
}

.cdata0 {
  text-align:left;
}

.cdata1 {
  text-align:left;
}

.cdata2 {
  text-align:left;
}

.rdata1 {
  padding-bottom:1px;
}

.rdata4 {
  padding-top:4px;
  padding-bottom:4px;
}

.large {
  font-size:larger;
}
