<div class='container' id='nmea'>
  <div class='row rdata4'>
    <div class='span12'>
      <span id='status' class='label label-warning'>not connected</span>
    </div>
  </div>
  <div class='row rdata4'>
    <div class='span4'>
      <span class='label label-info large'>GPGGA</span>
    </div>
    <div class='span4'>
      <span class='label label-info large'>GPRMC</span>
    </div>
    <div class='span4'>
      <span class='label label-info large'>GPGSV</span>
    </div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span3 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span3 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span3 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span3 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span3 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span3 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span3 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span3 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span3 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span3 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span3 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span3 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span3 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span3 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span3 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span3 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span3 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span3 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span3 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span3 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span3 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span3 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span3 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span3 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span3 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span3 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span3 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span3 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span3 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span3 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span3 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span3 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span3 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span3 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span3 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span3 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span3 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span3 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span3 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span3 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span3 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span3 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span3 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span3 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span3 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span3 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span3 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span3 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span3 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span3 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span3 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span3 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span3 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span3 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span3 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span3 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span3 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span3 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span3 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span3 cdata2'>&nbsp;</div>
  </div>  
</div>
<script src='js/require.js' data-main='js/config'></script>
<script src='js/nmea.js'></script>
