<div class='container gray' id='nmea'>
  <div class='row rdata4'>
    <div class='span1'>
      <span class='label label-info large'>GPGGA</span>
    </div>
    <div class='span2 count' id='gga-count'>0</div>
    <div class='span1'>
      <span class='label label-info large'>GPRMC</span>
    </div>
    <div class='span2 count' id='rmc-count'>0</div>
    <div class='span1'>
      <span class='label label-info large'>GPGSV</span>
    </div>
    <div class='span2 count' id='gsv-count'>0</div>
    <div class='span3'>
      <span id='status' class='label label-warning'>not connected</span>
    </div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span2 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span2 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span2 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span2 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span2 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span2 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span2 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span2 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span2 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span2 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span2 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span2 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span2 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span2 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span2 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span2 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span2 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span2 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span2 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span2 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span2 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span2 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span2 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span2 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span2 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span2 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span2 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span2 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span2 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span2 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span2 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span2 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span2 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span2 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span2 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span2 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span2 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span2 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span2 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span2 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span2 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span2 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span2 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span2 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span2 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span1'><div class='clabel0'>&nbsp;</div></div>
    <div class='span2 cdata0'>&nbsp;</div>
    <div class='span1'><div class='clabel1'>&nbsp;</div></div>
    <div class='span2 cdata1'>&nbsp;</div>
    <div class='span1'><div class='clabel2'>&nbsp;</div></div>
    <div class='span2 cdata2'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span12'>&nbsp;</div>
  </div>
  <div class='row rdata1'>
    <div class='span12'>
      <ul id='stn'>
        <li id='gga'></li>
        <li id='rmc'></li>
        <li id='gsv'></li>
      </ul>
    </div>
  </div>
</div>
<script src='js/require.js' data-main='js/config'></script>
<script src='js/nmea.js'></script>
